.App {
  display: flex;
  text-align: center;
  border: solid black;
  height: 150vh;
  margin: 2em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homePage{
  border: solid purple;
  width: 50%;
}
.employeePage{
  border: solid blue;
  width: 50%;
}
.header{
  border: solid lightblue;
}

.EmployeeListItem{
  border: solid black;
  display: flex;
  align-items: center;
}

.EmployeeListImage{
  border-radius: 50%;
  border: solid black;
  margin-right: 50px;
}

.sBar{
  border: solid green;
}

.topContainer{
  display: flex;
}